<div>
	<div class="btn-group pull-right">
		<a href="#/formData" class="btn btn-primary">List Forms</a>
	</div>
	<h2>{{item.name}}</h2>
</div>

<div class="row">
	<div class="col-md-10">

		Name:
		<input type="text" ng-model="item.key">

		Description:
		<input type="text" ng-model="item.description">
	</div>
</div>

<table class="table" style="max-width: 600px">
	<thead class="table-header">
	<tr>
		<th>Name</th>
		<th>Type</th>
		<th>Default Value</th>
		<th style="max-width: 50px; text-align: right">
			<a class="btn btn-mini" ng-click="addField()"><i class="glyphicon glyphicon-plus"></i></a>
		</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-show="!item.fields || item.fields.length <= 0">
		<td>
			No items found
		</td>
	</tr>
	<tr ng-repeat="field in item.fields">
		<td>
			<input ng-model="field.name" type="text">
		</td>
		<td>
			<select ng-model="field.type" ng-click="resetValue(field)">
				<option value="string">String</option>
				<option value="boolean">Boolean</option>
			</select>
		</td>
		<td>
			<div ng-switch on="field.type">
				<div ng-switch-when="boolean">
					<input ng-model="field.value" type="checkbox">
				</div>
				<div ng-switch-default>
					<input ng-model="field.value">
				</div>
			</div>
		</td>
		<td style="text-align: right; vertical-align: middle">
			<a ng-click="removeField($index)"><i
					class="btn btn-danger glyphicon glyphicon-trash"></i></a>
		</td>
	</tr>
	</tbody>
</table>

<div class="row bottom btn-group pull-right">
	<a href="#/formData" class="btn btn-primary">Cancel</a>
	<button type="button" class="btn btn-primary" ng-click="save()" translate="">Save Changes</button>
</div>

