.navbar-app-title {
	font-size: 18px;
	font-weight: bold;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFF;
	line-height: 2.5;
	display: inline;
}

.navbar {
	background: #0083A9;
}

.sidebar-app-title {
	font-size: 22px;
	font-weight: bold;
	line-height: 2.6;
	padding-top: 12px;
	padding-left: 13px !important;
}

.sidebar-manager {
	color: #fff;
	background: #B61244 !important;
	/*background-image: -webkit-gradient(linear, left 0%, left 100%, from(#e59683), to(#dc5c3d)) !important;*/
	/*background-image: -webkit-linear-gradient(top, #e59683 0%, #dc5c3d 100%) !important;*/
	/*background-image: -moz-linear-gradient(top, #e59683 0%, #dc5c3d 100%) !important;*/
	/*background-image: linear-gradient(to bottom, #e59683 0%, #dc5c3d 100%) !important;*/
	background-repeat: repeat-x !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e59683', endColorstr='#dc5c3d', GradientType=0) !important;
}

.sidebar-app1 {
	color: rgba(0, 0, 0, 0.66) !important;
	background: #4ACFF5 !important;
	/*background-image: -webkit-gradient(linear, left 0%, left 100%, from(#aee4f3), to(#4ACFF5)) !important;*/
	/*background-image: -webkit-linear-gradient(top, #aee4f3 0%, #4ACFF5 100%) !important;*/
	/*background-image: -moz-linear-gradient(top, #aee4f3 0%, #4ACFF5 100%) !important;*/
	/*background-image: linear-gradient(to bottom, #aee4f3 0%, #4ACFF5 100%) !important;*/
	background-repeat: repeat-x !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aee4f3', endColorstr='#4ACFF5', GradientType=0) !important;
}

.sidebar-app2 {
	color: rgba(0, 0, 0, 0.66) !important;
	background: #96CD0D !important;
	/*background-image: -webkit-gradient(linear, left 0%, left 100%, from(#cde395), to(#96CD0D)) !important;*/
	/*background-image: -webkit-linear-gradient(top, #cde395 0%, #96CD0D 100%) !important;*/
	/*background-image: -moz-linear-gradient(top, #cde395 0%, #96CD0D 100%) !important;*/
	/*background-image: linear-gradient(to bottom, #cde395 0%, #96CD0D 100%) !important;*/
	background-repeat: repeat-x !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cde395', endColorstr='#96CD0D', GradientType=0) !important;
}

.accordion-style2.panel-group .panel-heading .accordion-toggle.collapsed:hover {
	color: #0083A9;
}

.attached-file:hover {
	color: #0083A9;
}

.editable-container .popover-title {
	color: #0083A9;
}

.dd-handle:hover, .dd2-content:hover {
	color: #0083A9;
}

.dd-item > button:hover ~ .dd-handle,
.dd-item > button:hover ~ .dd2-content {
	color: #0083A9;
}

.dd2-handle:hover ~ .dd2-content {
	color: #0083A9;
}

.form-group {
	margin-bottom: 5px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	padding: 2px 4px;
	line-height: 1.1;
	font-size: 12px;
}

.form-control {
	height: 29px;
}

.ace-file-input {
	height: 21px;
}

select.form-control {
	height: 29px;
}

.input-group-btn > button.btn {
	line-height: 1.8;
	width: 30px;
}

label {
	font-size: 13px;
}

.modal-form-control {
	height: 29px;
	font-size: 12px;
	text-align: left;
	margin-right: 5px;
}

.ace-nav > li > a {
	background-color: #0083A9;
}

.ace-nav > li > a:hover {
	background-color: #669fc7;
}

.ace-nav > li.open > a {
	background-color: #669fc7 !important;
}

.form-control {
	font-size: 12px !important;
}

.workflow-header {
	margin-top: 6px;
}

.workflow-item {
	background-color: #FFFFFF;
	color: #595C66;
}

.field-required {
	font-weight: bold;
	color: #d15b47;
}

#list-comentari .itemdiv.dialogdiv:before {
	display: none;
}

.navbar {
	background: #0083A9;
}

.nav-user-photo {
	margin: -1px 8px 0 0 !important;
	border-radius: 10% !important;
	max-width: 35px !important;
	max-height: 35px !important;
}

.modal-header .close {
	font-size: 23px;
	font-weight: bold;
}

.btn-sm, .btn-xs {
	font-size: 13px;
}

/*--- TAULES ---*/

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
	border: none;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
	padding: 4px;
}

/*--- MANU ---*/

.profile-activity .tools {
	background-color: rgba(244, 249, 253, 0.8);
	padding: 1px 10px;
}

.profile-info-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

:hover .no-hover {
	text-decoration: none;
}

input.ace.ace-switch.ace-switch-6[type="checkbox"]:checked + .lbl:before {
	background-color: #87B87F !important;
	border-color: #B7D3E5;
	color: #FFFFFF;
	content: "";
	text-indent: 6px;
}

.accordion-style2.panel-group .panel-heading .accordion-toggle.collapsed:hover {
	color: #0083A9;
}

.attached-file:hover {
	color: #0083A9;
}

.editable-container .popover-title {
	color: #0083A9;
}

.dd-handle:hover, .dd2-content:hover {
	color: #0083A9;
}

.dd-item > button:hover ~ .dd-handle,
.dd-item > button:hover ~ .dd2-content {
	color: #0083A9;
}

.dd2-handle:hover ~ .dd2-content {
	color: #0083A9;
}

.form-group {
	margin-bottom: 5px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	padding: 2px 4px;
	line-height: 1.1;
	font-size: 12px;
}

.form-control {
	height: 29px;
}

.ace-file-input {
	height: 21px;
}

select.form-control {
	height: 29px;
}

.input-group-btn > button.btn {
	line-height: 1.8;
	width: 30px;
}

label {
	font-size: 13px;
}

.ace-nav > li > a {
	background-color: #0083A9;
}

.ace-nav > li > a:hover {
	background-color: #669fc7;
}

.ace-nav > li.open > a {
	background-color: #669fc7 !important;
}

.form-control {
	font-size: 12px !important;
}

.workflow-header {
	margin-top: 6px;
}

.workflow-item {
	background-color: #FFFFFF;
	color: #595C66;
}

.field-required {
	font-weight: bold;
	color: #d15b47;
}

#list-comentari .itemdiv.dialogdiv:before {
	display: none;
}

.nav-user-photo {
	margin: -1px 8px 0 0 !important;
	border-radius: 10% !important;
	max-width: 35px !important;
	max-height: 35px !important;
}

/*--- MANU ---*/

.profile-activity .tools {
	background-color: rgba(244, 249, 253, 0.8);
	padding: 1px 10px;
}

.profile-info-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

:hover .no-hover {
	text-decoration: none;
}

.alert {
	margin-top: 1em;
	font-size: 13px;
}

.alert-title {
	font-weight: bold;
	font-size: 14px;
}

.noinput {
	padding-top: 5px;
}

select {
	padding-right: 4px !important;
}

#contextMenu {
	white-space: nowrap;
}

.one-line {
	white-space: nowrap;
}

/* PAGINACIÓ */

.widget-toolbar .pagination {
	margin: 0;
	padding: 2px 0 0;
}

/* Títol */

.page-header h1 small {
	font-weight: normal;
}

.pagination-xs > li > a, .pagination-xs > li > span {
	font-size: 10px;
	padding: 2px 6px;
}

/*.btn-group > .btn.active:after, .btn-group + .btn.active:after {
  border-bottom-width: 3px;
}*/

.btn-info.active {
	background-color: #1B6AAA !important;
	border-color: #428BCA;
}

/* modificacions a partir de 28/04/2014 */

h1 {
	font-size: 22px;
	border-bottom: 0px;
}

.tab-content {
	border: none;
}

.span6 {
	width: 460px
}

.row-fluid .span6 {
	width: 48.717948718%;
	*width: 48.6647572286383%
}

.tree-data {
	padding-left: 1.5em;
}

.tree-data h3 {
	margin-top: 0;
	font-size: 20px;
}

.row, .mrow, .control-group {
	margin-bottom: 1em;
}

.hrow {
	overflow: hidden;
	margin-bottom: 1em;
}

.mbtn {
	margin-top: 1.6em;
}

label.control-label {
	font-weight: normal;
}

.icon-double-angle-right {
	margin-right: 5px;
}

.nav-pills {
	margin: 0;
}

.nav-pills li a {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

label.property-key {
	display: block;
	float: left;
	text-align: right;
	width: 200px;
	color: #667e99;
	background-color: transparent;
	font-weight: normal;
}

span.property-value {
	float: left;
	padding-left: 1em;
}

.controls input[type*="text"], .controls textarea, .controls select {
	width: 530px;
}

.controls input[type*="checkbox"] {
	margin-left: 0.1em;
}

.open .dropdown-profiles > li > a {
	text-align: left;
	font-size: 13px;
	line-height: 16px;
	white-space: normal;
}

