<style>
    svg {
        width: 250px;
        height: 200px;
        border-bottom: 1px solid black;
    }
</style>
<div class="row">
    <div id="options" class="col-md-2">
        <i class="glyphicon glyphicon-search"></i>
        <input type="text" ng-model="query" placeholder="Search">
        <button ng-click="createBpmn()" class="btn btn-xs btn-default">Create</button>
    </div>
    <div class="col-md-10">
        <div ng-repeat="model in models | filter:query">
            <div ng-click="open(model.id)" class="col-md-3"
                 style="border: lightgray 1px solid; border-radius: 20px; margin-bottom: 10px">
                <div load-svg="model.svg" style="max-width: 50px"></div>
                {{model.name}}
            </div>
        </div>
    </div>
</div>