<div>
	<table class="table">
		<thead class="table-header">
		<tr>
			<th>Name</th>
			<th>Value</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-show="!itemInfo || itemInfo.length <= 0">
			<td>
				This element has no properties.
			</td>
		</tr>
		<tr ng-show="itemInfo && itemInfo.length > 0" ng-repeat="property in itemInfo">
			<td>
				{{property.name}}
			</td>
			<td>
				<div ng-switch on="property.type">
					<div ng-switch-when="Boolean">
						<input ng-model="property.value" type="checkbox">
					</div>
					<div ng-switch-when="String">
						<input ng-model="property.value">
					</div>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>