<!--{{itemInfo}}-->

<div>
	<table class="table">
		<thead class="table-header">
		<tr>
			<th>Name</th>
			<th>Value</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-show="!itemInfo || itemInfo.length <= 0">
			<td>
				No items found
			</td>
		</tr>
		<tr ng-show="itemInfo && itemInfo.length > 0" ng-repeat="property in itemInfo">
			<td>
				<input ng-model="property.name" type="text" placeholder="name">
			</td>
			<td>
				<div ng-if="property.name == 'formData'">
					<button ng-click="addFormField(property)" class="btn btn-sm btn-info">Add Form Field</button>
				</div>
				<div ng-if="property.name == 'formKey'">
					<select ng-model="formK">
						<option value="">Select a key</option>
						<option ng-repeat="form in forms" value="form" ng-click="changeData(form)">{{form.key}}</option>
					</select>
				</div>
				<div ng-if="property.name != 'formData' && property.name != 'formKey'">
					<div ng-switch on="property.type">
						<div ng-switch-when="boolean">
							<input ng-model="property.value" type="checkbox">
						</div>
						<div ng-switch-when="string">
							<input ng-model="property.value">
						</div>
					</div>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>