<div>
	<div class="btn-group pull-right">
		<a href="#/palette/{{paletteId}}/paletteItem/create" class="btn btn-primary">Create PaletteItem</a>
	</div>
	<h2>Palette List</h2>
</div>

<div class="row">
	<show-palette class="col-md-2"></show-palette>

	<div class="col-md-10">

		<i class="glyphicon glyphicon-search"></i>
		<input type="text" ng-model="query" placeholder="Search">

		Sort by:
		<select ng-model="orderProp">
			<option value="name">Name</option>
			<option value="category.id">Category</option>
		</select>

		Filter by:
		<select ng-model="level">
			<option value=1>Level 1</option>
			<option value=2>Level 2</option>
			<option value=3>Level 3</option>
			<option value=4>Level 4</option>
			<option value=5>Level 5</option>
		</select>

		<table class="table table-striped">
			<thead>
			<tr>
				<th>Level</th>
				<th>Name</th>
				<!--<th>Icon</th>-->
				<th>Category</th>
				<th>Activated</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in paletteItems |filter:showCustomPaletteItems | filter:filterByLvl | filter:query | orderBy:orderProp">
					<td>{{item.level}}</td>
					<td><a href="#/palette/{{paletteId}}/paletteItem/{{item.id}}">{{item.name}}</a></td>
					<!--<td><a href="#/palette/{{paletteId}}/paletteItem/{{item.id}}"><img
							ng-src="images/icons/{{item.icon}}"></a>
					</td>-->
					<td>{{item.category.name}}</td>
					<td ng-click="change(item)">{{item.activated | checkmark}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>