a {
	color: #0083A9;
	background-color: inherit;
}

h1 {
	font-size: 1.6em;
	margin-bottom: 0.5em;
	color: #666;
}

h2 {
	font-size: 1.3em;
}

a.skip {
	position: absolute;
	left: -9999px;
}

.content-body {
	padding: 1em;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.form-horizontal {
	margin-top: 2em;
}

label {
	font-weight: bold;
}

label.property-key {
	display: block;
	float: left;
	text-align: right;
	width: 200px;
}

span.property-value {
	float: left;
	padding-left: 1em;
}

#header {
	background-color: #0083A9;
	height: 66px;
	font-size: 0.9em;
}

#logo {
	height: 44px;
}

#logo p {
	color: #fff;
	font-weight: bolder;
	font-size: 1.4em;
	float: right;
	margin: 16px 15.5px 0 0;
}

#logo a {
	display: inline-block;
	margin-top: 9px;
	margin-left: 15.5px;
}

#area-cont {
	background-color: #707173;
	height: 22px;
	padding: 0 41.5px;
	line-height: 22px;
}

#area span {
	color: #fff;
	background-color: inherit;
}

#area a#logout {
	color: #fff;
	float: right;
	font-weight: bold;
	text-decoration: none;
}

.form-search {
	margin: 0;
	line-height: 34px;
}

.nav-pills li a {
	font-size: 1.1em;
	vertical-align: top;
}

.nav-pills li a:hover {
	background-color: #0083A9;
	color: #FFFFFF;
}

.nav-pills li a:hover i {
	background-image: url("../images/glyphicons-halflings-white.png");
	top: 7px;
	left: 11px;
}

ul.errors {
	list-style-type: none;
	background-color: #F2DEDE;
	border-color: #EED3D7;
	color: #B94A48;
	border-radius: 4px 4px 4px 4px;
	margin-bottom: 18px;
	margin-left: 0;
	padding: 8px 35px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.pagination .currentStep {
	color: #999999;
	background-color: #F5F5F5;
	float: left;
	padding: 0 14px;
	line-height: 34px;
	text-decoration: none;
	border: 1px solid #DDD;
	border-left-width: 0;
}

.pagination .gap {
	color: #999999;
	float: left;
	padding: 0 14px;
	line-height: 34px;
	text-decoration: none;
	border: 1px solid #DDD;
	border-left-width: 0;
}

.pagination a:first-child, .pagination span:first-child {
	border-left-width: 1px;
	border-radius: 3px 0 0 3px;
}

.pagination a:last-child, .pagination span:last-child {
	border-radius: 0 3px 3px 0;
}

.pagination-content {
	display: inline-block;
}

.footer {
	background: #0083A9;
	color: #fff;
	clear: both;
	font-size: 0.8em;
	padding: 0.4em;
}

.footer a {
	color: #255b17;
}

.footer p {
	text-align: center;
	color: #fff;
	margin: 0;
}

.spinner {
	background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
	height: 16px;
	width: 16px;
	padding: 0.5em;
	position: absolute;
	right: 0;
	top: 0;
	text-indent: -9999px;
}

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

ul.association {
	margin-left: 16.5em;
	list-style: none;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
	background-color: #0083A9;
}

.form-horizontal .controls.noinput {
	padding-top: 5px;
}