<div class="modal-header">
    <h3 class="modal-title">Form Fields</h3>
</div>
<div class="modal-body">
    <table class="table" style="max-width: 600px">
        <thead class="table-header">
        <tr>
            <th>Id</th>
            <th>Label</th>
            <th>Type</th>
            <th>Default Value</th>
            <th style="max-width: 50px; text-align: right">
                <a class="btn btn-mini" ng-click="addProperty()"><i class="glyphicon glyphicon-plus"></i></a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-show="item.props.length <= 0">
            <td>
                No items found
            </td>
        </tr>
        <tr ng-show="item.props.length > 0" ng-repeat="property in item.props">
            <td>
                <input ng-model="property.name" type="text" placeholder="id">
            </td>
            <td>
                <div ng-switch on="property.type">
                    <div ng-switch-when="boolean">
                        <input ng-model="property.label" type="checkbox">
                    </div>
                    <div ng-switch-default>
                        <input ng-model="property.label">
                    </div>
                </div>
            </td>
            <td>
                <select ng-model="property.type" ng-click="resetValue(property)">
                    <option value="string">string</option>
                    <option value="boolean">boolean</option>
                </select>
            </td>
            <td>
                <input ng-model="property.defaultValue">
            </td>
            <td style="text-align: right; vertical-align: middle">
                <a class="btn btn-mini" ng-click="removeProperty($index)"><i class="btn btn-danger glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>