<div>
    <div class="btn-group pull-right">
        <a href="#/palette" class="btn btn-primary">List Palette Items</a>
    </div>
    <h2>Palette List</h2>
</div>

<div class="row">
    <show-palette class="col-md-2"></show-palette>
    <div class="col-md-10">
        <h2>{{item.name}}</h2>

        Name:
        <input type="text" ng-model="item.name">



        Description:
        <input type="text" ng-model="item.description">

        Category:
        <select ng-model="item.category">
            <option value="a1">A1</option>
            <option value="a2">A2</option>
        </select>

    </div>

</div>