

@import url("dipta-theme.css");

@import url("bootstrap.min.css");

/*@import url("bootstrap-datepicker.css");
@import url("bootstrap-editable.css");
@import url("bootstrap-responsive.min.css");
@import url("bootstrap-timepicker.css");*/

@import url("ace.min.css");

/*@import url("ace-fonts.css");
@import url("ace-ie.min.css");
@import url("ace-rtl.min.css");
@import url("ace-skins.min.css");*/


@import url("font-awesome.min.css");
@import url("errors.css");
@import url("fullcalendar.css");


/*@import url("chosen.css");
@import url("chosen.min.css");
@import url("colorbox.css");
@import url("colorpicker.css");
@import url("datepicker.css");
@import url("daterangepicker.css");
@import url("dropzone.css");
@import url("font-awesome-ie7.min.css");
@import url("fullcalendar.print.css");
@import url("jquery.gritter.css");
@import url("jquery-ui-1.10.3.custom.min.css");
@import url("jquery-ui-1.10.3.full.min.css");
@import url("main.css");
@import url("mobile.css");
@import url("prettify.css");
@import url("select2.css");
@import url("ui.jqgrid.css");*/